# OSX / *nix default autosave extension
*.m~

# Windows default autosave extension
*.asv

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

external/
data/
system/

paper/Lostanlen_dcase2016.synctex.gz

# vim recovery files
.*.sw*

paper/Lostanlen_dcase2016.aux

paper/Lostanlen_dcase2016.log

paper/Lostanlen_dcase2016.pdf

paper/Lostanlen_dcase2016.synctex.gz

paper/Lostanlen_dcase2016.aux

paper/Lostanlen_dcase2016.log

paper/Lostanlen_dcase2016.pdf

paper/Lostanlen_dcase2016.synctex.gz

paper/Lostanlen_dcase2016.bbl

paper/Lostanlen_dcase2016.blg
